<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
    <div class="form-group label-floating is-empty">
    	<label for="i5i" class="control-label" for="item">Add new item</label>
      	<%= f.text_field :content, class: 'form-control', id: 'item' %>
    </div>
  <%= f.submit 'Add new item', class: 'btn btn-raised btn-block btn-success' %>
<% end %>