/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//= require bootstrap.min
//= require bootstrap-material-design.min
//= require ripples.min

body { 
	background-color: #eeeeee; 
}

h1 { 
	color: #000; 
}

.panel { 
	margin-top: 30px; 
	}

.list_title { 
	a {
		color: #000; 
		text-decoration: none; 
	}
}

.desc_title { 
	color: #797575; 
}

.show_list_title,
.show_desc_title { 
	color: #000; 
}  

.item_center { 
	padding-left: 30px;
	padding-right: 30px;
	.item_holder {
		height: 50px;
		.complete {
			width: 40px;
			height: initial;
			.fa-check {
				font-size: 40px;
				color: #4286F5;
			}
			.complet {
				color: #F44236;
			}
		}
		.todo_item {
			margin-left: 60px;
			position: relative;
			bottom: 40px;
			p {
				font-size: 30px;
			}
		}
	 	.delete {
	 		width: 40px;
			height: initial;
			bottom: 80px;
			position: relative;
			.fa-trash {
		 		font-size: 40px;
		 		color: #4286F5;
			}
	 	}
	}
}